:root {
    --green: #4caf50;
    --orange: #ff5722;
    --white: #fffefe;
    --black: #1e1e1e;
    --light-black: #757575;
    --yellow: #ff9800;
    --light-green: #53b06c;
    --light-grey: #cbcbcb;
    --red: #ff2222;
    --light-orange: #fff6f3;
    --dark-grey: #585858;
    --sale-color: #dbefdc;
    --grey: #909090;
    --present-bg: #272626;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

button {
    border: none;
    font-family: "Noto Sans", serif;
}

body {
    font-family: "Noto Sans", serif;
    font-style: normal;
    line-height: normal;
    background-color: var(--white);
}

.footer-links {
    background-color: var(--green);
    border-radius: 36px;
    display: flex;
    padding: 30px 94px;
    justify-content: center;
    gap: 100px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    min-width: 238px;
}

.footer-column h4 {
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    padding: 8px;
}

.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-column li {
    padding: 8px;
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.footer-copyright {
    border-radius: 36px 36px 0px 0px;
    background: var(--orange);
    display: flex;
    padding: 20px 0;
    padding-left: 90px;
    align-self: stretch;
    align-items: center;
    gap: 3px;
}

.footer-copyright_text {
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 362px;
}

.footer-copyright span {
    font-weight: 700;
}

.footer-contacts {
    display: flex;
    padding: 20px 82px;
    justify-content: space-between;
}

.footer-contact__social {
    display: flex;
    width: 528px;
    align-items: center;
    gap: 176px;
}

.footer-contacts__social-icons {
    display: flex;
    align-items: center;
    gap: 28px;
}

.footer-contacts__info-section {
    display: flex;
    gap: 61px;
}

.footer-contacts__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 277px;
}

.footer-contacts__info h4 {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.footer-contacts__info-item {
    display: flex;
    gap: 5px;
}

.footer-contacts__info-item p {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
/* Header */

.header {
    border-radius: 0px 0px 36px 36px;
    border-right: 3px solid var(--green);
    border-bottom: 3px solid var(--green);
    border-left: 3px solid var(--green);
    background-color: var(--white);

    display: flex;
    padding: 22px 60px 22px 122px;
    justify-content: space-between;
    align-items: center;
}

.header__logo-catalog {
    display: flex;
    gap: 90px;
    align-items: center;
}

.header__logo-catalog img {
    width: 90.87px;
    height: 37px;
}

/* CatalogBtn */

.catalog-btn {
    display: flex;
    height: 20px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 30px;
    background-color: var(--green);
}
.catalog-btn img {
    width: 24px;
    height: 24px;
}

.catalog-btn span {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.catalog-btn:hover {
    background-color: transparent;
    border: 3px solid var(--green);
    padding: 7px 17px;
}

.catalog-btn:hover img {
    content: url(/public/catalog-green.svg);
}

.catalog-btn:hover span {
    color: var(--green);
}
.catalog-btn:active {
    background-color: var(--orange);
    border: none;
    padding: 10px 20px;
}
.catalog-btn:active span {
    color: var(--white);
}
.catalog-btn:active img {
    content: url(/public/catalog.svg);
}

/* AccountBtn */

.account-btn {
    display: flex;
    height: 20px;
    padding: 7px 17px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 30px;
    border: 3px solid var(--green);
}
.account-btn img {
    width: 24px;
    height: 24px;
}

.account-btn:hover {
    border: 3px solid var(--orange);
}

.account-btn:hover img {
    content: url(/public/account-orange.svg);
}

.account-btn span {
    color: var(--dark-grey);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* CartBtn */

.cart-btn {
    display: flex;
    height: 20px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border-radius: 30px;
    background-color: var(--orange);
}

.cart-btn span {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

/* SearchInput */

.search {
    display: flex;
    height: 20px;
    align-items: center;
    gap: 10px;
    padding: 7px 17px;

    border-radius: 30px;
    border: 3px solid var(--green);
    background-color: var(--white);
}

.search-input {
    all: unset;
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

/* LogIn */

.login {
    height: 100vh;
    padding: 10px 5px;
    background-color: #fff;
    background-image: url(./login_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login__frame {
    width: 644px;
    max-height: 620px;
    height: 100%;

    border-radius: 36px;
    border: 3px solid var(--green);
    background: var(--white);
    background-image: url(./login_frame_background.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__inner {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.login__form-btn {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.login__form-btn button {
    width: 235px;
    border-radius: 30px;
    background: var(--green);

    padding: 12px 48px;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-size: 16px;
    font-weight: 600;
}

.login__inner form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login__form-text {
    color: rgba(30, 30, 30, 0.8);
    font-size: 12px;
    font-weight: 400;
}

.login__form-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.login__form-input {
    height: 41px;
    border-radius: 8px;
    border: 1px solid var(--light-grey);
    background: var(--white);
    padding: 0 20px;

    font-size: 14px;
    line-height: normal;
    color: var(--light-black);
}

.login__form-rules {
    max-width: 373px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}
.login__form-rules a {
    color: var(--green);
    text-decoration-skip-ink: none;
}

.login__top {
    color: var(--green);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.login__top h1 {
    font-size: 40px;
    font-weight: 500;
}

.login__top p {
    font-size: 14px;
    font-weight: 400;
}

/* CardsSection */

.cards-section {
    padding: 20px 59px; /* !тут надо потом будет настройить*/
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.cards-main {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 16px;
}

.breadcrumbs span {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.breadcrumbs img {
    width: 16px;
    height: 16px;
}

.cards__inner-top {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.cards__inner-top h2 {
    color: var(--black);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    line-height: normal;
}

.cards__top-categories {
    display: flex;
    padding: 16px 0;
    align-items: center;
    gap: 24px;
}

/* CategoryBtn */

.category-btn {
    display: flex;
    padding: 8px 16px;
    gap: 4px;

    border-radius: 24px;
    border: 1px solid var(--light-grey);
}
.category-btn span {
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.category-btn.active {
    border: 1px solid var(--orange);
    background-color: var(--orange);
}

.category-btn.active span {
    color: var(--white);
}

.cards__filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-button,
.sort-button {
    display: flex;
    gap: 14px;
}

.filter-button span,
.sort-button span {
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}

.pagination-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.show-more {
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 2px solid var(--light-grey);

    color: var(--black);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.pagination {
    display: flex;
    gap: 20px;
    align-items: center;
}

.pagination-arrow {
    width: 24px;
    height: 24px;
}

.page-number {
    color: var(--grey);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.page-number.active,
.ellipsis {
    color: var(--black);
}

.card-item {
    width: 162px;
    display: flex;
    padding: 17px;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    border-radius: 20px;
    border: 3px solid var(--green);
    background: var(--white);
}

.card-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 162px;
}

.card-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.card-title h5 {
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.card-title p {
    color: var(--black);
    font-size: 12px;
    font-weight: 300;
    line-height: normal;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 8px;
}

.quantity-selector[data-unit="pieces"] {
    gap: 12px;
}

.quantity-selector button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 1px solid var(--light-grey);
}

.quantity-selector span {
    color: var(--light-black);
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}
